[graphite]
; base_url =  (( graphite_base_url ))/render?
base_url = http://{{ ansible_default_ipv4.address }}:8000/render?

ansible_default_ipv4.address
; fetch remote image and inline the data
remote_fetch = true
; verify remote certificate
remote_verify_peer = true
; verify remote peer name
remote_verify_peer_name = true

legacy_mode = false

; if legacy mode is false (2.4 and newer):
service_name_template = "icinga2.$host.name$.services.$service.name$.$service.check_command$.perfdata.$metric$.value"
host_name_template = "icinga2.$host.name$.host.$host.check_command$.perfdata.$metric$.value"

; if legacy mode is true (pre 2.4):
;service_name_template = "icinga.$host.name$.services.$service.name$.$service.check_command$"
;host_name_template = "icinga.$host.name$.host.$host.check_command$"
;this template is used for the small image, macros $target$ , $areaMode$ and $areaAlpha$ can used.
graphite_args_template = "&target=$target$&source=0&width=300&height=120&hideAxes=true&lineWidth=2&hideLegend=true&colorList=$colorList$&areaMode=$areaMode$&areaAlpha=$areaAlpha$"
;this template is used
